.ArticleModal {
  max-width: 800px;

  .EventPost {
    margin-left: 20px;
  }

  .Post {
    padding-left: 50px;
  }
}

.ArticleModal .rightMenu{
  margin-right: 50px;
  > ul {
    position: inherit;
  }

  .controlsGroup {
    color: #667c99;
    font-weight: 700;
  }
}

.ArticleModal {
  .PostStream-item[data-number="1"] .Post {
    padding-top: 10px;
  }
}

.ArticleModal .ArticleTitle {
  padding: 0;
}

// Editor Above
#modal > .ModalManager.newEditor {
  z-index: 1000;
}

div.modal-backdrop.newEditor {
  z-index: 1010;
}