.ArticleModal {
  max-width: 800px;
}

.ArticleModal .Post {
  padding-left: 50px;
}

.ArticleModal {
  .PostStream-item[data-number="1"] .Post {
    padding-top: 10px;
  }
}

.ArticleModal .ArticleTitle {
  padding: 0;
}

#modal > .ModalManager.newEditor {
  z-index: 1000;
}

div.modal-backdrop.newEditor {
  z-index: 1010;
}