@import "https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css";

// by Tudor

@media (min-width:990px) {
  .sideNav {
    height: 100%;
  }

  .sideNavOffset {
    margin-left: 185px !important;
  }

  .TagsPage .sideNav>ul>li,
  .TagsPage .sideNav .Dropdown-menu>li {
    display: block !important;

  }

  .TagsPage {
    .sideNav .Dropdown--select .Dropdown-menu {
      margin-left: 0px !important;
    }
  }
}

// 
@media (min-width:990px) and (max-width:2560px) {

  // @desktop-up and
  .sideNav {
    flex-shrink: 0;
    margin-right: auto;
    position: fixed;
    z-index: 2;
    top: 52px;
    // overflow:auto;
    width: auto;
    padding-left: 10px;
    background: @body-bg;
    border-right: 1px solid fade(@hero-bg, 98.5%);
    margin-left: -15px;
  }

  .UserPage {
    .sideNav {
      position: absolute !important;
    }
  }

  .sideNavOffset {
    margin-top: 0 !important;
    min-width: 0;
    padding: 15px;
    box-sizing: border-box;
  }

  a.titleFeed {
    font-weight: 700
  }

  body {
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", tahoma, arial
  }



  .sideNav .Dropdown--select .Dropdown-menu {
    margin-left: -10px;
    width: auto
  }

  .sideNav .Dropdown--select .Dropdown-menu>li.active>a {
    font-weight: 700;
    background: @hero-bg;
    color: @link-color;
    border-right: 3px solid @config-primary-color
  }

  .sideNav .Dropdown--select .Dropdown-menu>li>a {
    padding: 8px 0 8px 40px
  }

  a.TagLinkButton.hasIcon.child {
    background: 0 0 !important;
    border: 0 !important
  }

  button.Button.Button--primary.IndexPage-newDiscussion.hasIcon {
    font-size: 1.2em
  }

  .item-newDiscussion-stackoverflow .Button {
    width: auto !important;
    background: #3089da !important;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 3px !important;
    background-color: transparent;
    outline: none;
    line-height: 1.15384615;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }

  .IndexPage-toolbar-view>li {
    margin-right: -0.5px !important;
  }

  .IndexPage-toolbar-view>li>a {
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #9fa6ad;
    margin: 0px !important;
    color: #536e88;
    border-radius: 0px;
    line-height: 1.15384615;
    padding: .8em !important;
    /* box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5) inset; */
  }

  .IndexPage-toolbar-view>li>a:hover {
    background-color: #e4edf6;
  }

  .IndexPage-toolbar-view>li>a:active,
  .IndexPage-toolbar-view>li>a:focus {
    background-color: #d8d8d8;
  }

  .IndexPage-toolbar-view>li:first-child>a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .IndexPage-toolbar-view>li:last-child>a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  /* .DiscussionListItem-options-blocks {
    background: @body-bg;
    border: 1px solid fade(@hero-bg, 98.5%)
  } */

  .IndexPage-toolbar-view>li.active>a {
    background-color: @hero-bg;
    color: #135da2;
  }

}




.UserPage-nav {
  top: unset !important;
}

.PostsUserPage-list {
  padding: 20px;

  .iframe_pdf {
    display: none;
  }

  .PostsUserPage-discussion {
    a {
      font-size: 18px;
      font-style: normal;
    }
  }

  .item-user {

    .badges {
      display: none;
    }

    .PostUser-avatar {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .Post {
      padding-left: 0px;
      margin-left: 0px;
    }
  }
}

.IndexPage,
.DiscussionPage {
  // @media (min-width: 992px) {

  // @media (min-width: 992px) {

  //   // .sideNav,
  //   // .sideNav>ul {
  //   //   width: 220px;
  //   //   margin-right: auto;
  //   // }

  //   // .sideNav_border {
  //   //   border-right: 1px solid #d6d9dc;

  //     // ul {
  //     //   position: absolute;
  //     //   border-right: 1px solid #d6d9dc;
  //     //   height: 100%;
  //     // }
  //   }

  //   // .sidenav_fixed {
  //   //   position: fixed !important;
  //   // }

  //   // .nav_Navigation {
  //   //   background: #fff;
  //   //   border-radius: 0.5rem;
  //   //   padding: 0px;
  //   // }

  //   // .nav_Navigation_shadow {
  //   //   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  //   // }
  // }

  @media (min-width: 768px) and (max-width: 991px) {
    .nav_Navigation {
      background: #fff;
      border-radius: 0.5rem;
      padding: 10px;
    }

    .nav_Navigation_shadow {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    }
  }

  @media (max-width: 768px) {

    .item-nav_Navigation .Button-caret,
    .item-nav_Categories .Button-caret {
      display: none;
    }

    .DiscussionList {
      margin: 0px;
    }

    .CardsListItem {
      border-radius: 0.5rem;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
      overflow: hidden;
    }

    .flexCard {
      background: transparent;
    }
  }

}

/* .item-nav_Navigation,
.item-nav_Categories {
  padding-right: 1px;
} */








/* box-shadow: 0 4px 8px rgba(0, 0, 0, .10);
    border-radius: 14px; */
.DiscussionListItem {
  margin-left: 0px;
  padding-bottom: 15px;
}

/* .DiscussionList-discussions>li {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.item-tags {
  position: relative !important;
  right: unset !important;
  top: unset !important;
  bottom: 0px;
  -webkit-mask-image: unset !important;
  /* width: 70% !important; */
}

.DiscussionListItem-info-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #aaa;

  .TagLabel .TagLabel-text {
    color: #668899 !important;
    font-size: 13px;
    font-weight: 500;
  }

  /* .TagsLabel.colored .TagLabel-text:last-of-type::after {
    content: "." !important;
  } */

  .TagsLabel .TagLabel:not(:last-child) .TagLabel-text::after {
    content: ",";
  }

  .TagLabel {
    margin-left: 4px;
    margin-right: 4px;
    padding: 0px !important;
    background-color: transparent !important;
  }
}

.DiscussionListItem-info {
  padding-bottom: 20px;

  .item-excerpt {

    img,
    iframe {
      border-radius: 8px;
    }
  }
}

.TagLabel {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px !important;
  padding: .5em .7em !important;
}

.Text_title_center_block_class {
  i {
    font-size: 1.3rem !important;
    color: #016c7a;
  }

  color: #016c7a;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .08rem;
  text-transform: capitalize;
  margin-left: 10px;
  margin-bottom: 0px !important;
}

.IndexPage-toolbar-action {
  margin-left: auto;
}

.IndexPage-toolbar-action>li {
  margin: 0px !important;
}

@media (max-width: 767px) {
  .IndexPage-toolbar {
    text-align: center;

  }

  /* .IndexPage-toolbar-view {
    zoom: 0.7;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  } */

}

/*
 .IndexPage-toolbar-view>li>a {
   background: transparent;
   font-weight: 400;
   font-size: 12px;
   border: 1px solid #9fa6ad;
   margin: 0px !important;
   color: #6a737c;
   border-radius: 0px;
   line-height: 1.15384615;
   padding: .8em !important;
   /* box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5) inset; 
 }
 .IndexPage-toolbar-view>li>a:hover {
   background: #f8f9f9;
 }
 .IndexPage-toolbar-view>li>a:active,
 .IndexPage-toolbar-view>li>a:focus {
   background: #d8d8d8;
 }
 .IndexPage-toolbar-view>li:first-child>a {
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
 }
 .IndexPage-toolbar-view>li:last-child>a {
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
 }
*/
.DiscussionListItem-options {
  padding: 12px 0;
}

.author_top {
  display: flex;
  justify-content: center;

  .Avatar {
    margin-right: 0px !important;
    border-radius: 50% !important;
  }
}


@media (min-width: 768px) {
  .DiscussionListItem-options {
    /* margin-left: -52px; */
    width: 48px;
    margin-right: 20px;

    /* margin-right: 15px; */
  }


  .DiscussionListItem-content {
    width: 100%;
    display: flex !important;

  }

  .D_remove_additional_space {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .DiscussionListItem-content {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .DiscussionListItem-options {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    padding-bottom: 0px !important;
  }

  .DiscussionListItem-info .item-excerpt {
    display: block !important;
    /* color: #3d3d3d; */
  }
}

.DiscussionListItem-info .item-excerpt {
  font-size: unset !important;
  color: unset !important;
}

.DiscussionListItem-options-blocks {
  text-align: center;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 15%); */
  border-radius: 45%;
  padding: 5px;
  margin-bottom: 10px;

  p {
    margin: 0px;
  }
}

.DiscussionListItem-options-blocks>h3 {
  margin: 0px !important;
}

.item-discussion-views,
.DiscussionListItem-count {
  display: none !important;
}

.IndexPage {
  .Avatar {
    margin-right: 10px;
    border-radius: 6px;
  }
}

.DiscussionListItem-options-author {
  margin-left: auto;
}

.DiscussionListItem_tags_and_author {
  display: flex;
  flex-direction: column;

  .DiscussionListItem_tags_and_author_div2 {
    background: rgba(255, 255, 255, 0.6);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .DiscussionListItem_tags_and_author_div2>div {
    display: flex;
  }

  .DiscussionListItem_tags_and_author_div2>hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .div_likes_comments {
    display: flex;
    color: #666;
    font-weight: 500;
  }

  .div_likes_comments>div {
    align-self: center;

  }
}

.author-link {
  display: flex;
}

.item-terminalPost .username {
  display: none;
}

.author-link {
  p {
    margin: 0 0 5px !important;
  }
}

.IndexPage-toolbar {
  display: flex;
  margin: 15px;
}

.IndexPage {
  .DiscussionListItem {
    background: rgba(255, 255, 255, 0.7);
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12); */
    border-radius: 0rem;
    padding: 10px;
    transition: .3s;
  }

  .DiscussionListItem:hover {
    background: rgba(255, 255, 255, 1);

    border-radius: 4px;
    padding: 10px;
  }

  .D-border {
    border-bottom: 1px solid fade(@hero-bg, 98.5%)
  }

  .D-border:hover {
    background: @hero-bg;
    border-radius: unset;
  }

  .button_citeste_mai_mult {
    padding: 11px;
    border: 0px;
    background: rgba(28, 93, 153, 0.85);
    color: #fff;
    border-radius: 0.5rem;
    transform: rotateX(10deg);
    box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.2);
    transition: .3s;
  }

  .button_citeste_mai_mult:hover {
    transform: rotateX(10deg) translate(0%, 5px);
    zoom: 1.05;
  }

  .div_button_citeste_mai_mult {
    border: 0px;
    position: absolute;
    border-radius: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0%);
    perspective: 200px;
    -webkit-perspective: 200px;
  }

  @media (min-width: 767px) {
    // .item-newDiscussion-stackoverflow .Button {
    //   width: auto !important;
    //   background: #0a95ff !important;
    //   box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    //   position: relative;
    //   display: inline-block;
    //   padding: .8em;
    //   border: 1px solid transparent;
    //   border-radius: 3px;
    //   background-color: transparent;
    //   outline: none;
    //   font-family: inherit;
    //   font-size: 13px;
    //   font-weight: normal;
    //   line-height: 1.15384615;
    //   text-align: center;
    //   text-decoration: none;
    //   cursor: pointer;
    //   user-select: none;
    // }
  }

  .item-newDiscussion_3d {
    perspective: 200px;
    -webkit-perspective: 200px;
    box-shadow: 0px 8px 8px rgba(34, 34, 34, 0.2);
    width: 88%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .item-newDiscussion_3d .Button {
    transform: rotateX(10deg);
    height: 48px;
    border-radius: .5rem;
    background: #216bb1 !important;
    transition: .3s;
    letter-spacing: 1px;
  }

  .item-newDiscussion_3d .Button:hover {
    transform: rotateX(10deg) translate(0px, 5px);
    background: #1c5d99 !important;
  }
}

/* .item-excerpt div::after {
  content: "Mai mult";
  color: #216bb1;
  margin-left: 5px;
} */

/* .item-excerpt div:hover::after {
    text-decoration: underline;
} */
// .Dropdown-menu>li {
//   padding-left: 10px;
//   padding-top: 3px;
//   padding-bottom: 3px;
// }

// .Dropdown-menu>.active {
//   border-right: 3px solid #1c5d99;
//   background: #f1f2f3;
// }

.d-none {
  display: none !important;
}

.DiscussionListItem-title {
  color: #3b3b3b !important;
}

.author-link {
  font-size: 10px;

  p {
    margin: 0 0 1px !important;
  }

  .Avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.Composer {
  overflow: hidden;
}

.ComposerBody-header {
  width: 100%;
  position: absolute;
  left: 0%;
  bottom: 100%;
  height: 50%;
  background: rgba(54, 158, 255, .97);
  /* backdrop-filter: blur(15px); */
  z-index: 2;
  box-shadow: 0px 2px 10px rgba(54, 158, 255, .6);
  display: flex;
  flex-direction: column-reverse;
  padding: 20px;
  transition: .4s;
  transform: translate(0px, 100%);
  z-index: 3;

  .item-discussionTitle {
    width: 50% !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
    border-radius: 8px;

    .FormControl {
      background: #fff !important;
    }

    .FormControl:focus {
      border: 3px solid #a2cbff !important;
    }
  }

  .item-Title_text_p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    div {
      color: #222;
      font-size: 15px;
    }
  }

  .item-closeModal {
    display: flex;
  }

  .closeModal_button {
    margin: auto;
  }
}

/* .ComposerBody-header h3 input,
.ComposerBody-header h3 input[disabled],
.ComposerBody-header h3 input:focus,
.TextEditor .TextEditor-editor {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: .75rem !important;
  padding-right: .75rem !important;
  border-radius: 4px;
} */

.rounded-lg {
  border-radius: .5rem !important;
}

.FormControl {
  border: 1px solid rgb(209, 213, 219, .8) !important;
}

.TextEditor-controls {
  border-top: 0px !important;
  margin: 0px !important;
}

.DiscussionComposer-changeTags {
  .TagLabel {
    border: 1px solid #d1d5db !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-left: .75rem !important;
    padding-right: .75rem !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: .5rem !important;
  }
}

.iframe_pdf {
  border-radius: .5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

/* .Post-body {
  overflow: visible !important;
} */
.Post-body {
  transition: .2s;
}

.Post-body:focus {
  box-shadow: 0px 0px 5px 2px rgba(28, 93, 153, 0.5);
}

.Post-body::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

.Post-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

.Post-body::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 8px;
}

.Post-body::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.Search-input>input {
  border: 0px !important;
}


.DiscussionListItem-votes.alternateLayout,
.Post-votes {
  box-shadow: none !important;
}

.rankings_button>.Button-icon {
  margin-right: 0px !important;
}

.DiscussionListItem-author {
  margin-left: 0px !important;
}

.DiscussionListItem-main {
  margin-right: 0px !important;
  padding-bottom: 0px !important;
}

.Composer.fullScreen.minimized {
  height: 48px !important;
  background: #1c5d99;
}

.Composer.fullScreen {
  height: 100% !important;
  transition: .5s;

  .keyframes(fade-in; {
      0% {
        opacity: 0.3;
        transform: translate(0px, 100%);
      }

      100% {
        opacity: 1;
        transform: translate(0px, 0%);
      }
    }

  );

  .animation(fade-in .22s linear alternate)
}

.keyframes(@name; @arguments) {
  @-moz-keyframes @name {
    @arguments();
  }

  @-webkit-keyframes @name {
    @arguments();
  }

  @keyframes @name {
    @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}


.ComposerBody-content {
  display: flex;
}

.ComposerBody-content-left {
  width: 70%;

  .item-discussionTitle {
    width: 100%;
  }

  .FormControl {
    width: 100%;
    background: #E4E4E4 !important;
    border: 0px !important;
    border-radius: 6px !important;
    color: #444444 !important;
    padding: 14px !important;
    font-size: 18px;
    font-weight: 500;
  }

  .FormControl::placeholder {
    color: rgba(68, 68, 68, .8) !important;
    font-size: 18px;
    font-weight: 500;
  }

  .placeholder,
  .placeholder::before {
    color: rgba(68, 68, 68, .8) !important;
    font-size: 16px;
    font-weight: 500;
  }

  .ComposerBody-editor {


    .TextEditor {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      z-index: 2;

      .FormControl {

        ol,
        ul {
          list-style: unset !important;
          padding-left: 40px !important;
        }

      }
    }

    .TextEditor-editor {
      max-height: 85vh;
      margin-top: 70px !important;
    }

    .TextEditor-controls {
      position: absolute;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0%);
      background: transparent;
      padding: 4px;
      border-radius: 10px;
      margin-top: 10px;
      /* box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); */

      .item-submit {
        display: none;
      }

      .fof-upload-button {
        background: transparent;
      }

      .CommandButton[aria-label='Inline code <ctrl-`>'] {
        display: none;
      }

      li {
        margin: 0px !important;
      }

      button {
        background: white !important;
        /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
        padding: 4px;
        margin: 3px;
        width: auto !important;
        border-radius: 14px;
        /* font-size: small; */
        border: 2px solid;

        span {
          padding: 0px !important;
        }

        span[data-original-title="Select Text Type"], span[data-original-title="Alege tipul de text"] {
          padding-left: 6px !important;
          padding-right: 6px !important;
          padding-top: 3px !important;
          padding-bottom: 3px !important;
          font-size: 16px;
        }

        i {
          padding: 6px;
          font-size: small;
        }
      }
    }
  }
}

.ComposerBody-content-right {
  width: 30%;
  padding-left: 20px;

  .item-openModal {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    width: 100%;

    .Button {
      border: 0px !important;
      padding: 10px 13px;
      background: #e4edf6 !important;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      font-weight: 500;
      letter-spacing: 0.03rem;
      font-size: 16px !important;
      width: 100%;
      justify-content: center;
      text-align: center;
      transition: .3s;
      border-radius: 0.5rem !important;
    }

    .Button:hover {
      background: rgba(38, 122, 201, 0.3) !important;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }
  }

  .ComposerBody-avatar-right {
    width: 64px;
    height: 56px;
    border-radius: 6px;
    font-size: 32px;
    line-height: 56px;
    object-fit: cover;
    /* background: transparent !important; */
  }

  .author {
    display: flex;
    margin-bottom: 20px;
  }

  .ComposerBody-etichete {
    list-style: none;
    padding: 0px;

    .untagged {
      border: 0px !important;
      background: #e4edf6 !important;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      font-weight: 500;
      letter-spacing: 0.03rem;
      width: 100%;
      justify-content: center;
      text-align: center;
      transition: .3s;
    }

    .TagLabel.colored {
      border: 0px !important;
      background: #e4edf6 !important;
      width: 100%;
      text-align: center;
      transition: .3s;

      .TagLabel-text {
        color: #668099 !important;
      }
    }

    .TagLabel:hover {
      background: rgba(38, 122, 201, .3) !important;
    }
  }

  .my_displa_name {
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
  }

  .Button_publicare {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #1c5d99;
    color: #fff;
    font-weight: 500;
    letter-spacing: .06rem;
    font-size: 16px;
    padding: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  }
}


.Hero_2 {
  margin-top: -1px;
  text-align: center;
  color: #668099;
  background: #e4edf6;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 15px;

  h2 {
    font-size: 18px;
    color: #3b3b3b !important;
    margin: 0;
    font-weight: normal;
    line-height: 1.5em;
  }
}

.PostStream {
  margin-top: 0px;
}

.DiscussionPage-stream {
  padding-left: 20px;
}

.PostStream-item[data-number='1'] {

  .item-user,
  .item-guest-user {
    display: none !important;
  }

  .item-edited {
    display: none;
  }


  @media (min-width: 768px) {
    .Post {
      padding: 20px !important;
      padding-top: 10px !important;
      margin: 0px;
      background: #e4edf6;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    /* .item-votes {
      position: relative;
      top: unset !important;
      left: unset !important;
    } */

    .Post-votes {
      position: relative;
      top: 0px !important;
    }

    .Post-header {
      margin-bottom: 0px;

      .item-meta {
        display: none;
      }

      ul {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.TextEditor-guestFields {
  position: absolute;
  left: 100%;
  bottom: 0%;
  margin-left: 20px;
  width: 40%;
  border-radius: 8px !important;
  border: none !important;

  input {
    transition: .3s;
  }

  input:hover {
    box-shadow: 0px 0px 5px 2px rgba(28, 93, 153, 0.5);
  }
}


.TextEditor-controls .Dropdown-menu .NodeTypeButton {
  width: auto !important;
}

.TextEditor-toolbar>.ProseMirrorMenu>.itemCount0:first-child>button {
  width: auto !important;
}


.TextEditor-toolbar {
  .Dropdown-toggle::after {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(180 18 6)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    -webkit-transform: translate(-50%, -40px) rotate(180deg);
    transform: translate(-50%, -40px) rotate(180deg);
    zoom: 0.3;
    position: absolute;
    opacity: .7;
  }
}

@media (min-width: 992px) {
  .App--discussion .Composer:not(.fullScreen) {
    margin: 0px !important;

    .TextEditor-controls {
      box-shadow: none !important;
      background: transparent !important;
    }
  }
}
