@import "https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css";

.IndexPage {
  @media (min-width: 992px) {

    .sideNav,
    .sideNav>ul {
      width: 220px;
      margin-right: auto;
    }

    .sideNav_border {
      border-right: 1px solid #d6d9dc;
    }

    .sidenav_fixed {
      position: fixed;
    }

    .nav_Navigation {
      background: #fff;
      border-radius: 0.5rem;
      padding: 0px;
    }

    .nav_Navigation_shadow {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .nav_Navigation {
      background: #fff;
      border-radius: 0.5rem;
      padding: 10px;
    }

    .nav_Navigation_shadow {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    }
  }

  @media (max-width: 768px) {

    .item-nav_Navigation .Button-caret,
    .item-nav_Categories .Button-caret {
      display: none;
    }

    .DiscussionList {
      margin: 0px;
    }

    .CardsListItem {
      border-radius: 0.5rem;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
      overflow: hidden;
    }

    .flexCard {
      background: transparent;
    }
  }

}

.item-nav_Navigation,
.item-nav_Categories {
  padding-right: 1px;
}








/* box-shadow: 0 4px 8px rgba(0, 0, 0, .10);
    border-radius: 14px; */
.DiscussionListItem {
  margin-left: 0px;
  padding-bottom: 15px;
}

/* .DiscussionList-discussions>li {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.item-tags {
  position: relative !important;
  right: unset !important;
  top: unset !important;
  bottom: 0px;
  -webkit-mask-image: unset !important;
  /* width: 70% !important; */
}

.DiscussionListItem-info-tags {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #aaa;
}

.DiscussionListItem-info {
  padding-bottom: 20px;
}

.TagLabel {
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 4px !important;
  padding: .5em .7em !important;
}

.Text_title_center_block_class {
  i {
    font-size: 1.3rem !important;
    color: #016c7a;
  }

  color: #016c7a;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: .08rem;
  text-transform: capitalize;
  margin-left: 10px;
  margin-bottom: 0px !important;
}

.IndexPage-toolbar-action {
  margin-left: auto;
}

.IndexPage-toolbar-action>li {
  margin: 0px !important;
}

@media (max-width: 767px) {
  .IndexPage-toolbar {
    text-align: center;

  }

  .IndexPage-toolbar-view {
    zoom: 0.7;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
  }

}

.IndexPage-toolbar-view>li>a {
  background: transparent;
  font-weight: 400;
  font-size: 12px;
  border: 1px solid #9fa6ad;
  margin: 0px !important;
  color: #6a737c;
  border-radius: 0px;
  line-height: 1.15384615;
  padding: .8em !important;
  /* box-shadow: 0px 0px 9px -3px rgba(0, 0, 0, 0.5) inset; */
}

.IndexPage-toolbar-view>li>a:hover {
  background: #f8f9f9;
}

.IndexPage-toolbar-view>li>a:active,
.IndexPage-toolbar-view>li>a:focus {
  background: #d8d8d8;
}

.IndexPage-toolbar-view>li:first-child>a {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.IndexPage-toolbar-view>li:last-child>a {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.DiscussionListItem-options {
  padding: 12px 0;
}

@media (min-width: 768px) {
  .DiscussionListItem-options {
    margin-left: -52px;
    width: 80px;
    margin-right: 15px;
  }

  .DiscussionListItem-content {
    width: 100%;
    display: flex !important;

  }

  .D_remove_additional_space {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .DiscussionListItem-content {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  .DiscussionListItem-options {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
    padding-bottom: 0px !important;
  }

  .DiscussionListItem-info .item-excerpt {
    display: block !important;
    color: #3d3d3d;
  }
}

.DiscussionListItem-options-blocks {
  text-align: center;
}

.DiscussionListItem-options-blocks>h3 {
  margin: 0px !important;
}

.item-discussion-views,
.DiscussionListItem-count {
  display: none !important;
}

.IndexPage {
  .Avatar {
    margin-right: 10px;
    border-radius: 6px;
  }
}

.DiscussionListItem-options-author {
  margin-left: auto;
}

.DiscussionListItem_tags_and_author {
  display: flex;
}

.author-link {
  display: flex;
}

.item-terminalPost .username {
  display: none;
}

.author-link {
  p {
    margin: 0 0 5px !important;
  }
}

.IndexPage-toolbar {
  display: flex;
  margin: 15px;
}

.IndexPage {
  .DiscussionListItem {
    background: rgba(255, 255, 255, 0.7);
    /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12); */
    border-radius: 0rem;
    padding: 10px;
    transition: .3s;
  }

  .DiscussionListItem:hover {
    background: rgba(255, 255, 255, 1);

    border-radius: 4px;
    padding: 10px;
  }

  .D-border {
    border: 1px solid #fff;
    border-top: 1px solid #d6d9dc;
  }

  .D-border:hover {
    border: 1px solid #d6d9dc;
  }

  .button_citeste_mai_mult {
    padding: 11px;
    border: 0px;
    background: rgba(28, 93, 153, 0.85);
    color: #fff;
    border-radius: 0.5rem;
    transform: rotateX(10deg);
    box-shadow: 0px 10px 10px rgba(34, 34, 34, 0.2);
    transition: .3s;
  }

  .button_citeste_mai_mult:hover {
    transform: rotateX(10deg) translate(0%, 5px);
    zoom: 1.05;
  }

  .div_button_citeste_mai_mult {
    border: 0px;
    position: absolute;
    border-radius: 0.5rem;
    left: 50%;
    transform: translate(-50%, 0%);
    perspective: 200px;
    -webkit-perspective: 200px;
  }

  @media (min-width: 767px) {
    .item-newDiscussion-stackoverflow .Button {
      width: auto !important;
      background: #0a95ff !important;
      box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
      position: relative;
      display: inline-block;
      padding: .8em;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: transparent;
      outline: none;
      font-family: inherit;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.15384615;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      user-select: none;
    }
  }

  .item-newDiscussion_3d {
    perspective: 200px;
    -webkit-perspective: 200px;
    box-shadow: 0px 8px 8px rgba(34, 34, 34, 0.2);
    width: 88%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .item-newDiscussion_3d .Button {
    transform: rotateX(10deg);
    height: 48px;
    border-radius: .5rem;
    background: #216bb1 !important;
    transition: .3s;
    letter-spacing: 1px;
  }

  .item-newDiscussion_3d .Button:hover {
    transform: rotateX(10deg) translate(0px, 5px);
    background: #1c5d99 !important;
  }
}

.item-excerpt div::after {
  content: "Mai mult";
  color: #216bb1;
  margin-left: 5px;
}

/* .item-excerpt div:hover::after {
    text-decoration: underline;
} */
.Dropdown-menu>li {
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.Dropdown-menu>.active {
  border-right: 3px solid #1c5d99;
  background: #f1f2f3;
}

.d-none {
  display: none !important;
}

.DiscussionListItem-title {
  color: #3b3b3b !important;
}

.author-link {
  font-size: 10px;

  p {
    margin: 0 0 1px !important;
  }

  .Avatar {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}

.ComposerBody-header h3 input,
.ComposerBody-header h3 input[disabled],
.ComposerBody-header h3 input:focus,
.TextEditor .TextEditor-editor {
  padding-top: .5rem !important;
  padding-bottom: .5rem !important;
  padding-left: .75rem !important;
  padding-right: .75rem !important;
  border-radius: 4px;
}

.rounded-lg {
  border-radius: .5rem !important;
}

.FormControl {
  border: 1px solid rgb(209, 213, 219, .8) !important;
}

.TextEditor-controls {
  border-top: 0px !important;
}

.DiscussionComposer-changeTags {
  .TagLabel {
    border: 1px solid #d1d5db !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    padding-left: .75rem !important;
    padding-right: .75rem !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: .5rem !important;
  }
}

.iframe_pdf {
  border-radius: .5rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.Post-body {
  overflow: visible !important;
}

.Search-input>input {
  border: 0px !important;
}
